.rs-17 .services {
	padding-top: 95px;
	overflow: hidden;
}

.rs-17 .services .services__container {
	display: flex;
}

.rs-17 .services .services__box {
	position: relative;
	flex-shrink: 0;
	max-width: 50%;
	padding: 70px 0 55px 80px;
	margin-left: auto;
	z-index: 5;
}

.rs-17 .services .services__img {
	position: relative;
	flex-grow: 1;
	max-width: 50%;
}

.rs-17 .services .services__img::before {
	content: "";
	position: absolute;
	right: 0;
	top: -95px;
	width: 50vw;
	height: calc(100% + 15px);
	background-image: url(../img/services_bg.png);
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.rs-17 .services .services__box::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 50vw;
	height: 100%;
	background-color: #1b2a34;
	z-index: -1;
}

.rs-17 .services .services__title {
	color: #ffffff;
	margin-bottom: 25px;
}

.rs-17 .services .services__item {
	position: relative;
	min-height: 140px;
	padding: 25px 45px;
	border-radius: 10px;
	background: #15222b;
	transition: 0.3s background;
}

.rs-17 .services .services__item:not(:last-child) {
	margin-bottom: 27px;
}

.rs-17 .services .services__number {
	position: absolute;
	right: 33px;
	top: 50%;
	transform: translateY(-50%);
	font-family: Montserrat-Black;
	font-size: 100px;
	color: #ffffff;
	opacity: 0.05;
}

.rs-17 .services .services__name {
	position: absolute;
	left: 45px;
	right: 45px;
	top: 50%;
	transform: translateY(-50%);
	font-family: Montserrat-SemiBold;
	font-size: 21px;
	color: #ffffff;
	margin: 0;
	opacity: 1;
	visibility: 1;
	transition: 0s visibility, 0.3s opacity 0.3s;
}

.rs-17 .services .services__text {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s opacity, 0s visibility 0.3s;
}

.rs-17 .services .services__item:hover {
	background: linear-gradient(to right, #474ace, #af529f);
}

.rs-17 .services .services__item:hover .services__name {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s opacity, 0s visibility 0.3s;
}

.rs-17 .services .services__item:hover .services__text {
	opacity: 1;
	visibility: visible;
	transition: 0.3s opacity 0.3s, 0s visibility;
}

.rs-17 .services .services__text span {
	font-family: Montserrat-SemiBold;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 10px;
}

.rs-17 .services .services__text p {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 15px;
	color: #ffffff;
}

.rs-17 .services .services__text a {
	font-family: Montserrat-Bold;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	transition: 0.3s color;
}

.rs-17 .services .services__text a:hover {
	color: #00b8ef;
}

@media screen and (max-width: 1150px) {
	.rs-17 .services {
		padding-top: 0;
	}
	.rs-17 .services .services__container {
		display: block;
	}
	.rs-17 .services .services__img {
		display: none;
	}
	.rs-17 .services .services__box {
		max-width: 100%;
		padding-left: 0;
		margin-left: 0;
	}
	.rs-17 .services .services__box::before {
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
	}
}