@font-face {
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Montserrat-Medium;
	src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: Montserrat-SemiBold;
	src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: Montserrat-Black;
	src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
	font-family: Montserrat-ExtraBold;
	src: url(../fonts/Montserrat-ExtraBold.ttf);
}

*, *::before, *::after {
	font-weight: normal;
	line-height: 1;
	outline: none;	
	box-sizing: border-box;	
}

a, a:hover, a:visited {
	text-decoration: none;
}

html.-noscroll, 
body.-noscroll {
	overflow: hidden;
}

.gradient-button {
	cursor: pointer;
	border: none;
	background-image: linear-gradient(to right, #03b8f6, #09a1e3, #30dd8a, #2bb673);
	background-size: 300% 100%;
	transition: all .4s ease-in-out;
}

.gradient-button:hover {
	background-position: 100% 0;
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.h2-title {
	font-family: Montserrat-SemiBold;
	font-size: 36px;
	line-height: 1.2;
	margin: 0;
}

@media (min-width: 1200px) {
	.container {
		width: 1600px;
	}
}

@media screen and (max-width: 1600px) {
	.container {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.h2-title {
		font-size: 28px;
	}
}

/* Добавлено от 05.12.2021 */

.section-title {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 80px 0;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.breadcrumbs {
	margin-bottom: 20px;
}

.breadcrumbs__item {
	display: inline-block;
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: #767e9d;
	line-height: 1.2;
}

.breadcrumbs__item.-prev {
	position: relative;
	padding-right: 11px;
	margin-right: 9px;
	transition: 0.3s color;
}

.breadcrumbs__item.-prev::after {
	content: "";
	position: absolute;
	right: 0;
	top: 4px;
	width: 5px;
	height: 8px;
	-webkit-mask-image: url(../img/chevron-right-solid.svg);
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	background-color: #767e9d;
	transition: 0.3s background;
}

.breadcrumbs__item.-prev:hover {
	color: #00b8ef;
}

.breadcrumbs__item.-prev:hover::after {
	background-color: #00b8ef;
}

.breadcrumbs__item.-curr {
	pointer-events: none;
}

.section-title__title {
	font-family: Montserrat-SemiBold;
	font-size: 36px;
	color: #15222c;
	line-height: 1.2;
	margin: 0;
}
